[Unit]
Description=Monitor CPU usage of logging and middleware processes

[Service]
Type=simple
ExecStart=/bin/sh -c 'pidstat -u -p ALL 5 425 > /tmp/pidstat_cpu.log'
Restart=no

[Install]
WantedBy=multi-user.target
