[Unit]
Description=Performance Collection Script
After=tr69hostif.service
Requires=tr69hostif.service
ConditionPathExists=/media/apps/.enable_perftools

[Service]
Type=simple
ExecStart=/bin/sh /media/apps/perf.sh
Restart=no

[Install]
WantedBy=multi-user.target
