[Unit]
Description=Mount rdm app download directory
After=nvram.service

[Mount]
What=$HDD_APP_MOUNT_PATH
Where=/media/apps
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
