[Unit]
Description=Run chrony telemetry collection every 15 minutes
ConditionPathExists=/opt/secure/RFC/chrony/chronyd_enabled

[Timer]
OnBootSec=120s
OnUnitActiveSec=15min
Unit=chrony-tracking.service

[Install]
WantedBy=multi-user.target
